{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>lista pacientes | Oral Life</title>
  <link rel="stylesheet" href="{% static 'css/lista_chats.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-left">
      <img src="{% static 'imagenes/logo-oral-life.jpg' %}" alt="Logo" class="logo">
    </div>
    <ul class="navbar-links">
        <li><a href="{% url 'auxiliar_home' %}">Inicio</a></li>
        <li><a href="{% url 'auxiliar_citas' %}">Citas</a></li>
        <li><a href="{% url 'crear_historia_clinica' %}">Historia Clínica</a></li>
        <li><a href="{% url 'lista_historias_clinicas' %}">Lista Historias</a></li>
        <li><a href="{% url 'lista_chats' %}" class="active">Mensajes</a></li>
    </ul>
    <form method="post" action="{% url 'logout' %}" class="logout-form">
      {% csrf_token %}
      <button type="submit" class="logout-btn">Cerrar sesión</button>
    </form>
  </nav>

  <main>
    <h2>Mensajes Pacientes</h2>
    {% if pacientes %}
      <ul class="lista-pacientes">
        {% for paciente in pacientes %}
          <li>
            <span>{{ paciente.username }}</span>
            <a href="{% url 'chat_auxiliar' paciente.username %}" class="btn-chat">Abrir chat</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No hay mensajes disponibles aún.</p>
    {% endif %}
  </main>
</body>
</html>
