body {
    font-family: Arial, sans-serif;
    background-color: #d1f9ff;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

h1 {
    margin-top: 30px;  
    margin-bottom: 20px; 
}

h2 {
    margin-top: 40px;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.navbar-links {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #6eb4ff;
}

.logout-form {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logout-btn {
    background-color: white;
    color: #101010;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff5d5d;
}

.logo {
    height: 50px;
    margin-right: 15px;
    object-fit: contain;
    display: block;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  padding: 40px;
}

h2 {
  text-align: center;
  color: #4ba3ff;
  font-size: 26px;
  margin-bottom: 25px;
}

.tabla-historias {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.tabla-historias thead {
  background: linear-gradient(90deg, #4ba3ff, #6eb4ff);
  color: white;
  text-transform: uppercase;
}

.tabla-historias th, .tabla-historias td {
  text-align: center;
  padding: 14px 10px;
  border-bottom: 1px solid #e5e7eb;
}

.tabla-historias tbody tr:hover {
  background-color: #f0f8ff;
  transition: background 0.3s ease;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-ver, .btn-editar {
  text-decoration: none;
  font-weight: 600;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.btn-ver {
  background-color: #4ba3ff;
}

.btn-editar {
  background-color: #9d9d9d;
}

.btn-ver:hover {
  background-color: #6cbef1;
  transform: scale(1.05);
}

.btn-editar:hover {
  background-color: #c0bebe;
  transform: scale(1.05);
}

.sin-registros {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-top: 20px;
}