body {
    font-family: Arial, sans-serif;
    background-color: #d1f9ff;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

h1 {
    margin-top: 30px;  
    margin-bottom: 20px; 
}

h2 {
    margin-top: 40px;
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.navbar-links {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #6eb4ff;
}

.logout-form {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logout-btn {
    background-color: white;
    color: #101010;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff5d5d;
}

.logo {
    height: 50px;
    margin-right: 15px;
    object-fit: contain;
    display: block;
}

.container {
  max-width: 1100px;
  margin: 50px auto;
  background: white;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4ba3ff;
  font-size: 28px;
  margin-bottom: 40px;
}

.historia-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
}

.historia-table thead {
  background-color: #4ba3ff;
  color: white;
}

.historia-table th, .historia-table td {
  text-align: center;
  padding: 15px;
}

.historia-table tr:nth-child(even) {
  background-color: #f9fbff;
}

.historia-table tr:hover {
  background-color: #e6f3ff;
  cursor: pointer;
}

.btn-ver {
  background-color: #4ba3ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-ver:hover {
  background-color: #0077c2;
  transform: scale(1.05);
}